<div class="wrapper">
 
  <div [ngClass]="calculatedClasses()">
  <div class="icon">
    <fa-icon id="faIcon" [icon]="faArrowCircleRight" (click)="reload()"></fa-icon>
  </div> 
    <div class="alert">
     <img src="https://media.tenor.com/images/2113a670a2d4399f2c0c8d5e71d3221c/tenor.gif" alt="">
     </div>
    </div>
 
  <app-periodic-table class="periodic-table"  [data]="this.matched" [dataShine]="this.isShining" [dataAdvice]="this.advise2"></app-periodic-table>
 <app-prvky class="prvky" (isClickedForm)="clicked($event)" (isClickedAdvice)="clicked2()" [data]="this.prvkyLookingFor" ></app-prvky>

</div>
